@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
strong,
b {
  font-weight: 700;
}

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fff;
}

$drawerWidth: 260;

.transition {
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.containerFluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-right: auto;
  width: 100%;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// .container {
//   @extend .containerFluid;
//   margin-left: auto;

//   @media (min-width: 768px) {
//     max-width: 750px;
//   }

//   @media (min-width: 992) {
//     max-width: 970px;
//   }

//   @media (min-width: 1200px) {
//     max-width: 1170px;
//   }
// }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  // border: 0;
  // border-top: 1px solid #eee;
}
